@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite NZ", cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

ul li {
    width: 200px;
    height: 35px;

    display: flex;
    align-items: center;
    margin: 1.5em;
    padding: 1em;

    background: rgb(43, 43, 43);
    position: relative;
    color: #fff;
    border-radius: 5px;
}

ul li::before , ul li::after {
    content: " ";
    position: absolute;
}